<h1>New coupon</h1>

<% form_for(@promotion) do |f| %>
  <%= render :partial => 'promotion', :locals => { :f => f } %>
<p>
	<%= f.submit 'Create' %>
</p>
<% end %>

<%= link_to 'Back', promotions_path %>
